/* page */
body {
    background-color: rgb(213, 255, 244);
}

/* main-navigation */
nav {
    display: flex;
    flex-direction: row;
}

/* Logotip */
.logo {
    display: block;
    max-width: 250px;
    margin: 0 400px;
    width: 99%;
}

/* Entrance */


/* Product */
.features-title {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    background: gray;
    text-decoration: none;
}

/* Мой заказ  */
.basket-titel {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    background: gray;
    text-decoration: none;
}