/* page */
body {
    min-width: 800px;
    margin: 0;
    padding: 0;
    background-color: rgb(213, 255, 244);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1800px au;
}

.basket-titel {
    clear: both;
}

.search {
    clear: both;
}

/* features-item */
.features-item {
    float: left;
    width: 195px;
    margin-right: 240px;
    min-height: 0px;
    padding: 30px 30px 30px 30px;
    margin-bottom: 5px;
    border: 3px solid black;
}

/* basket */
.basket-titel {
    display: none;
    background-image: url("/img/basket.png");
    background-size: 40px;
    height: 40px;
    width: 40px;
    font-size: 0px;
}

/* main-navigation */
.main-menu {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: 3px solid rgb(0, 255, 0);

}

/* Logotip */
.logo {

    display: block;
    padding-top: 10px;
    padding-right: 200px;
    padding-bottom: 10px;
    padding-left: 400px;
    border: 10px;
    color: red;
    margin: 10px;
    box-sizing: content-box;
}

/* Entrance */

/* Product */
.features-title {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    background: gray;
    text-decoration: none;
}

/* Мой заказ  */
.basket-titel {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    background: rgb(128, 128, 128);
    text-decoration: none;
}

/* footer-social */
.face {
    display: inline-block;
    background-image: url("/img/Face.png");
    background-size: 40px;
    height: 40px;
    width: 40px;
    font-size: 0px;
}

.insta {
    display: inline-block;
    background-image: url("/img/insta.png");
    background-size: 40px;
    height: 40px;
    width: 40px;
    font-size: 0px;
}


input {
    max-width: 40px;
}